<sw-single-select
    class="sw-condition-type-select sw-condition-type-select__select"
    :label-value="label"
    value-property="filterField"
    label-property="filterName"
    :options="filterTypes"
    v-model:value="filter.field"
    :disabled="!acl.can('torq_dynamic_access_evolved.editor')" 
/>

<div v-if="filter.field === 'id'">
    <torq-dynamic-access-evolved-product-filter
        :filter="filter"
    >
    </torq-dynamic-access-evolved-product-filter>
</div>
<div v-else-if="filter.field === 'categories.id'">
    <torq-dynamic-access-evolved-category-filter
        :filter="filter"
    >
    </torq-dynamic-access-evolved-category-filter>
</div>
<div v-else-if="filter.field === 'manufacturer.id'">
    <torq-dynamic-access-evolved-manufacturer-filter
        :filter="filter"
    >
    </torq-dynamic-access-evolved-manufacturer-filter>
</div>

<sw-button
    size="small"
    @click="deleteAndCondition"
    :disabled="!acl.can('torq_dynamic_access_evolved.editor')" 

>
    {{ $tc('torq-dynamic-access-evolved.detail.conditions.buttonDeleteAndCondition') }}
</sw-button>
